

body {

	font-family: arial;
	font-size: 18px;
	color: #1951ab;

}


h1 {

	color: "#1951ab"

} 


.text01 { 

	width: 48%;
	color: 191970;
	font-size: 100;
} 
.text2 { 

	text-align: right;
	font-size: 6px;
	width: 48%;
} 

.text3 { 

	text-align: right;
	font-size: 4px;
	width: 48%;
} 

.lines1 {
	width: 90%;
	border: 1px solid #ddd;
	padding: 8px;
}

